@import 'fonts/fonts';
@import 'base/variables';

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 1rem;
    color: $main-color;
    line-height: 1.4;
}

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $main-color;
}

button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

ul,
li {
    list-style: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.page {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1950px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex-grow: 1;
}

@import 'blocks/main';
@import 'blocks/header';
@import 'blocks/footer';
@import 'base/media';
