@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy Medium';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy SemiBold';
    src: url('../fonts/Gilroy-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('../fonts/Gilroy-Extrabold.woff2') format('woff2');
}
